[submodule "hermes-can"]
	path = hermes-can
	url = git@github.com:aris-space/hermes-can.git
[submodule "data-definitions"]
	path = data-definitions
	url = ../asteria-data-definitions
[submodule "ba-implementation"]
	path = ba-implementation
	url = ssh://git@gitlab.ost.ch:45022/ba-embedded/ba-implementation.git
