[submodule "hermes-can"]
	path = hermes-can
	url = git@github.com:aris-space/hermes-can.git
[submodule "asteria-data-definitions"]
	path = asteria-data-definitions
	url = git@github.com:aris-space/asteria-data-definitions.git
